[package]
name = "mercat-validator"
version = "1.0.0"
authors = [ "Polymath Inc" ]
repository = "https://github.com/PolymathNetwork/cryptography"
description = "MERCAT Transaction Validator"
edition = "2018"

[dependencies]
cryptography_core = { path = "../../../cryptography-core" }
mercat = { path = "../../../mercat" }
mercat_common = { package = "mercat-common", path = "../common/" }
codec = { package = "parity-scale-codec", version = "1.3.6", default-features = false, features = ["derive"] }
log = { version = "0.4.8"}
env_logger = { version = "0.7.1" }
confy = { version = "0.4.0" }
structopt = { version = "0.3", default-features = false }
metrics = { version = "0.12.1" }
metrics-core = { version = "0.5.2" }

serde = { version = "1.0.105", features = ["derive"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }

# Crypto
curve25519-dalek = { git = "https://github.com/PolymathNetwork/curve25519-dalek.git", branch = "v2-packed-simd", default-features = false, features = ["nightly", "u64_backend"] }
rand_core = { version = "0.5", default-features = false }
rand = { version = "0.7.3", features = ["wasm-bindgen", "getrandom", "alloc"], default-features = false }
